body {
    margin: 0;
    padding: 0;
    background-color: #eceaea;
}

.menu {
    background-color: #ffffff; 
    width: 200px;
    height: 100%; 
    position: fixed;
    top: 0;
    left: 0;
}

.logo {
    padding: 20px; 
    text-align: center;
}

.logo img {
    width: 150px; 
}

.menu-items {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-items li {
    padding: 20px 0; /* Espaciado entre elementos del menú */
    text-align: center;
}

.menu-items a {
    text-decoration: none;
    color: #000000; /* Color del texto de los enlaces */
    display: block; /* Hacer que los enlaces ocupen todo el ancho del menú */
}

a:hover {
    background-color: #174ee4;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.estado {
    display: flex;
    background-color: #ffffff;
    margin-top: 30px;
    margin-left: 50px;
    width: 700px;
    height: 100px;
    border-radius: 40px;
  }
.estado-turnos{
    flex: 1; 
    border: 0.5px solid #949494; 
}
.estado-realizados{
    flex: 1; 
    border: 0.5px solid #949494; /* Agregamos bordes para visualización */
}
.estado-cancelados {
    flex: 1; 
    border: 0.5px solid #949494; /* Agregamos bordes para visualización */
  }